<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.mylibrary">

    <!-- 声明使用USB -->
    <uses-feature
        android:name="android.hardware.usb.host"
        android:required="true" />
    <uses-permission android:name="android.hardware.usb.host" />
    <uses-permission android:name="android.hardware.usb.accessory" />

    <application>
        <meta-data
            android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"
            android:resource="@xml/usbserial" />
        <!---->
        <activity
            android:name="com.TG.library.activitys.TGActivity"
            android:theme="@style/tgActivityStyle"
            android:windowSoftInputMode="stateHidden"
            tools:ignore="InnerclassSeparator">
            <intent-filter>
                <action android:name="com.tg.m661j.vein.api" />
                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />
                <category android:name="com.tg.m661j.vein.api"/>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <service
            android:name="com.TG.library.service.DevService"
            android:enabled="true"
            android:exported="true"
            tools:ignore="InnerclassSeparator">
            <intent-filter>
                <action android:name="com.example.mylibrary.DevService.action" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>
    </application>

</manifest>